// Customize the colors of Octoflat Here



$primary-color:      #1FA3C4; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #FBF6CE; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #E8E8F0; // Hover-over color, Active Page color
$accent-color1:      #00A9E0; // Hover-over background color for tags
$accent-color2:      #D0DD2B; // Sub-headings, Date Stamp
$accent-color3:      #E8E8F0; // Navbar Text, Tag text
$bg-color:           #182945; // Background
$navbar-color:       #98C73D; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #1FA3C4; // Footer

